
<!---->
<section>
    <div class="container">
       <div class="docInfoBx">
           <div class="docHd">Document Information</div>
           <div class="docinfoBx">
               <span>You are about to access a document having the subsequent information.</span>
               <span><strong>Issuing Company:</strong> Flexsin Doc</span>
               <span><strong>Owner:</strong> John Deo</span>
               <span><strong>Doc Owner ID:</strong> 123456</span>
               <span><strong>Document Title:</strong> RBC Insurance.pdf</span>
           </div>
       </div>
       <div class="pincodeHd">Please Enter The PIN Code</div>
       <div class="frmBx">
            <input matInput class="frmInp" placeholder="Field 1" />
       </div>
       <div class="frmBx">
            <input matInput class="frmInp" placeholder="Field 2" />
        </div>
        <div class="frmBx">
            <input matInput class="frmInp" placeholder="Field 3" />
        </div>
       <div class="submitBtn">
           <button class="submitButton" (click)="openDialog()">SUBMIT</button>
       </div>
    </div>
</section>
<!---->
