<section class="footerBg">
  <div class="footIcon">
    <a href="/main-document" activeClassName="is-active" class="navbar-item">
      <i
        ><img
          src="../../../assets/images/note-icon.png"
          alt=""
          class="img" /><img
          src="../../../assets/images/note-hover.png"
          alt=""
          class="img-hover"
      /></i>
      Main Doc
    </a>
  </div>
  <div class="footIcon">
    <a routerLink="/qr-code" activeClassName="is-active" class="navbar-item">
      <i
        ><img src="../../../assets/images/qr-code.png" alt="" class="img" /><img
          src="../../../assets/images/qr-code-hover.png"
          alt=""
          class="img-hover"
      /></i>
      QR Code
    </a>
  </div>
  <div class="footIcon">
    <a
      routerLink="/card-preview"
      activeClassName="is-active"
      class="navbar-item"
    >
      <i
        ><img
          src="../../../assets/images/copy-icon.png"
          alt=""
          class="img" /><img
          src="../../../assets/images/copy-hover.png"
          alt=""
          class="img-hover"
      /></i>
      Card Preview
    </a>
  </div>
  <div class="footIcon">
    <a routerLink="/document" activeClassName="is-active" class="navbar-item">
      <i
        ><img
          src="../../../assets/images/circle-ellipsis.png"
          alt=""
          class="img" /><img
          src="../../../assets/images/circle-ellipsis-hover.png"
          alt=""
          class="img-hover"
      /></i>
      More
    </a>
  </div>
</section>
