
<!---->
<section>
    <div class="container">
        <div class="scanHd">
            <h3>Scan QR Code</h3>
            <span>Hold your device over a QR code to scan it.</span>
        </div>
        <div class="qrcode">
            <img src="../../../assets/images/qr-code.svg" alt="" />
        </div>
        <div class="scanBtn">
            <button (click)="openDialog()">Scan</button>
        </div>
        <div class="scaning">
            <small>scanning</small>
            <span><span></span></span>
        </div>
    </div>
</section>
<!---->
