<!---->
<section class="maindocOuter">
  <div class="container">
    <app-card-header></app-card-header>

    <div class="docuserBx">
      <div class="docuserHd">
        <div class="doc_userLeft">
          <span><strong>Owner:</strong> {{ document?.meta_owner_name}}</span>
          <span><strong>ID:</strong> {{ document?.meta_owner_reference}}</span>
        </div>
        <div class="doc_userIcon">
          <mat-icon class="active" style="cursor: pointer" (click)="download()"
            >cloud_download</mat-icon
          >
          <mat-icon style="cursor: pointer" (click)="print()"
            >local_printshop</mat-icon
          >
          <mat-icon style="cursor: pointer" (click)="openBottomSheet()"
            >share</mat-icon>
        </div>
      </div>
      <div class="docsliderBx">
        <div class="wrapper">
          <div id="outerContainer">
            <div class="pdf-container">
              <pdf-viewer
                [src]="src"
                [rotation]="0"
                [original-size]="false"
                [show-all]="true"
                [fit-to-page]="false"
                [zoom]="1"
                [zoom-scale]="'page-width'"
                [stick-to-page]="false"
                [render-text]="true"
                [external-link-target]="'blank'"
                [autoresize]="true"
                [show-borders]="false"
                style="width: 100%; height: 600px"
              ></pdf-viewer>
            </div>
          </div>
        </div>
      </div>
      <div class="pageNo">Page 1 of 10</div>
    </div>
  </div>

</section>
<!---->
<app-footer></app-footer>
